.banner{
    background-image: url("https://cdn2.vectorstock.com/i/1000x1000/26/71/vs-versus-blue-and-red-comic-design-battle-banner-vector-25842671.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}