/* You can add global styles to this file, and also import other style files */
.spinner-center{
    height: 600px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column; /* aquí */
    justify-content: center;
}

body {
    margin: 0;
    margin-bottom: 150px;
  }

html{
    min-height: 100%;
    position: relative;
}